<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-alberto-dashboar-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cells-alberto-dashboar">
  <script src="cells-alberto-dashboar.js"></script>
</dom-module>